nav {
    background-color: #eb5e28;
    display: grid;
    align-items: center;

}

.navbar {
    position: relative;
}


.navbar-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    width: 70px;
    height: 50px;
}

.divLogo img{
    width: 100px;
    height: 150%;
    margin-left: 100px;
}
.nav-link{
    position: relative;
    padding-bottom: 6px;
    width: auto;
}
a{
    color: white;
}
.nav-link:hover{
    color: white;
    cursor: pointer;
}

/* barra gris fija */
.nav-link::before,
.nav-link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
}

.nav-link::before{
    background-color: white;
}
.nav-link::after{
    background-color: #eb5e28;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease;
}
.nav-link:hover::after{
    transform: scaleX(1);
}
.navbar-nav .nav-link.active{
    color: white;
}
.nav-link.active::after{
    transform: scaleX(1);
}

.tira-anuncios {
  width: 100%;
  height: 40px;
  background-color: #669bbc;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.contenido-deslizante {
  display: flex;
  width: max-content;
  animation: desplazar 25s linear infinite;
}

.grupo-textos {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.grupo-textos span {
  white-space: nowrap;
  padding-right: 60px;
  font-size: 16px;
  font-weight: 500;
}

@keyframes desplazar {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
