<button (click)="loadReservas()" >reservas</button>
<div class="contenedor-reservas">
  <div class="reserva-card">
    <div class="row g-0">
      <!-- Imagen -->
      <div class="col-md-4">
        <img
          src="images/Introduccion.jpg"
          alt="Apartamento frente al mar"
          class="imagen-reserva"
        >
      </div>
      <!-- Información -->
      <div class="col-md-8">

        <div class="contenido-reserva">

          <div class="encabezado-card">

            <div>
              <span class="tipo-alojamiento">Apartamento</span>

              <h4>Apartamento frente al mar</h4>

              <p class="ubicacion">
                Cartagena, Bolívar
              </p>
            </div>

            <span class="estado confirmada">
            Confirmada
          </span>

          </div>

          <!-- Datos de la reserva -->
          <div class="datos-reserva">

            <div>
              <small>Entrada</small>
              <strong>15 Oct 2026</strong>
            </div>

            <div>
              <small>Salida</small>
              <strong>18 Oct 2026</strong>
            </div>

            <div>
              <small>Huéspedes</small>
              <strong>4 huéspedes</strong>
            </div>

          </div>

          <!-- Pie -->
          <div class="pie-reserva">

            <div>
              <small>Total</small>
              <strong>$1.330.000</strong>
            </div>

            <div class="acciones">

              <button class="btn btn-outline-dark">
                Ver detalles
              </button>

              <button class="btn btn-reserva">
                Cancelar
              </button>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
