<div class="contenedorReservas">
  <div class="encabezadoReservas">
    <h1>Mis reservas</h1>
    <p>Consulta la información de tus alojamientos reservados.</p>
  </div>

  @if (reservas().length === 0) {
    <div class="sinReservas">
      <h2>No tienes reservas registradas</h2>
      <p>Cuando confirmes una reserva, aparecerá aquí.</p>
    </div>
  } @else {
    <div class="listaReservas">
      @for (reserva of reservas(); track reserva.id) {
        <article class="tarjetaReserva">

          <div class="encabezadoTarjeta">
            <div>
              <span class="etiquetaReserva">RESERVA #{{ reserva.id }}</span>
              <h2>Información de la reserva</h2>
            </div>

            <span class="estadoReserva">Confirmada</span>
          </div>

          <div class="informacionReserva">
            <h3>Datos del huésped</h3>

            <div class="datoReserva">
              <span>Nombre completo</span>
              <strong>{{ reserva.nombre }}</strong>
            </div>

            <div class="datoReserva">
              <span>Correo electrónico</span>
              <strong>{{ reserva.correo }}</strong>
            </div>

            <div class="datoReserva">
              <span>Cédula</span>
              <strong>{{ reserva.cedula }}</strong>
            </div>

            <div class="datoReserva">
              <span>Número de huéspedes</span>
              <strong>{{ reserva.numHuespedes }}</strong>
            </div>
          </div>

          <div class="fechasReserva">
            <h3>Fechas de la estadía</h3>

            <div class="contenedorFechas">
              <div class="fecha">
                <span>Entrada</span>
                <strong>{{ reserva.fecha[0] | date:'dd/MM/yyyy' }}</strong>
              </div>

              <div class="separadorFechas"></div>

              <div class="fecha">
                <span>Salida</span>
                <strong>{{ reserva.fecha[1] | date:'dd/MM/yyyy' }}</strong>
              </div>
            </div>
          </div>
          <div class="boton">
          <button type="button" class="btn-solid theme-info">Ver detalles</button>
          <button type="button" class="btn-solid theme-danger">Cancelar</button>
          </div>
        </article>
      }
    </div>
  }
</div>

